* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.calculator {
  width: 100%;
  height: 500px;
  max-width: 400px;
  overflow: hidden;
  padding: 10px;
  background-color: #211f24;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.display {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  height: 100%;
  color: white;
  font-size: 50px;
}
.btns {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, fit-content);
  gap: 8px;
  border-radius: 10px;
}
button {
  cursor: pointer;
  font-size: 22px;
  border: 0;
}
button:hover {
  filter: brightness(1.5);
}
#result {
  background-color: #46366f;
  color: white;
}
#tools {
  background-color: #323136;
  color: white;
}
#number {
  background-color: #3c3a3c;
  color: white;
}

@media (max-width: 767px) {
  .calculator {
    width: 100%;
    max-width: none;
    height: 100vh;
    border-radius: 0;
  }
}
